html {
    background-image: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
    background-repeat: no-repeat;
    background-attachment: fixed;
}

body {

margin-top: 8rem;
}

.container{
    box-shadow: 0 16px 32px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    background-color: white;
    border-radius: 20px; 
    margin: auto;
    width: 56rem;
    height: 32rem;
}

.container:hover {
    box-shadow: 0 32px 64px 0 rgba(0,0,0,0.2);
  }

.card {
    display: flex;
    justify-content: flex-end;
    height: 32rem;
    
}

.left {
    overflow: hidden;
    height: 100%;
    
}
.right{
    width: 100%;
      
}
.illu-woman {
    position: relative;
    top: 4rem;
    left: -5rem;
}

.box-container{
    width: 0;
    height: 0;
    margin: 0;
    padding: 0;
}

.box-icon {
    margin: 0;
    padding: 0;
    position: relative;
    top: 12.5rem;
    left: -5.82rem;
    z-index: 50;
    
}

.box-shadow {
    position: relative;
    top: -42rem;
    left: -35rem;
    
    
}